.webContainer{
    width: 100%;
    min-width: 1000px;
    height: auto;
}



*{
    background-color:#800000 ;
   }

#title{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

.content{
    color: white;
    text-align: center;
    display: inline-block;
}

.list{
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}

a {
    color: white;
}

img{
    width: 310px;
    height:310px;
    
}

.btnlist{
    display: inline-block;
}

button{
    background-color: #5F8670;
    color: white;
    padding: 20px;
    margin: 10px;
    font-style: italic;
}